        /* =========================
           MOBILE
        ========================= */

        @media (max-width: 600px) {

            .invitation-title h1 {
                font-size: 42px;
            }

            .envelope-wrapper {
                width: 320px;
                height: 215px;
            }

            .envelope-front::before {
                border-left-width: 160px;
                border-top-width: 107px;
                border-bottom-width: 107px;
            }

            .envelope-front::after {
                border-right-width: 160px;
                border-top-width: 107px;
                border-bottom-width: 107px;
            }

            .bottom-flap {
                border-left-width: 160px;
                border-right-width: 160px;
                border-bottom-width: 120px;
            }

            .top-flap {
                border-left-width: 160px;
                border-right-width: 160px;
                border-top-width: 120px;
            }

            .wax-seal {
                width: 55px;
                height: 55px;
                top: 100px;
                font-size: 14px;
            }

            .letter {
                height: 180px;
                padding: 25px 10px;
            }

            .letter h1 {
                font-size: 30px;
            }

            .envelope-screen.opened .letter {
                transform: translateY(-150px);
            }

            .hero h1 {
                font-size: 55px;
            }
        }
		
		
		
		

