/* Modal background */
#zoom-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  /* smooth fade */
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* show modal */
#zoom-modal.active {
  display: flex;
  opacity: 1;
}

/* image zoom effect */
#zoom-modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 18px;

  transform: scale(0.8);
  transition: transform 0.35s ease;
}

/* when modal active, zoom in */
#zoom-modal.active img {
  transform: scale(1);
}

/* close button */
#zoom-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  color: black;
  border: none;
  font-size: 24px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}