:root{
    --sage:#A3B18A;
    --sage-dark:#6B705C;
    --burnt-orange:#BC6C25;
    --cream:#FAF7F2;
    --white:#ffffff;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:var(--cream);
    color:#333;
    line-height:1.6;
}

.hero-content{
    max-width:800px;
}

.invite{
    color:var(--burnt-orange);
    letter-spacing:3px;
    font-size:14px;
    text-transform:uppercase;
    margin-bottom:20px;
}

.names {
    font-family: 'Great Vibes', cursive;
    font-size: 7rem;
    font-weight: 700;
    color: #fffef9;
    margin-bottom: 10px;

    text-shadow:
        0 0 3px rgba(255,255,255,0.9),
        0 0 8px rgba(230,240,230,0.8),
        0 0 18px rgba(122,143,110,0.75),
        0 0 35px rgba(122,143,110,0.55),
        0 0 55px rgba(122,143,110,0.35),
        0 4px 12px rgba(0,0,0,0.45);
}

.and {
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    font-weight: 400;
    color: #fffef9;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    text-shadow:
        0 0 2px rgba(255,255,255,0.9),
        0 0 6px rgba(230,240,230,0.8),
        0 0 14px rgba(122,143,110,0.7),
        0 0 28px rgba(122,143,110,0.5),
        0 0 45px rgba(122,143,110,0.3),
        0 3px 10px rgba(0,0,0,0.45);
}

.wedding-of {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.4em;
    text-transform: uppercase;

    color: #fdf9f2;

    text-shadow:
        0 0 8px rgba(122, 143, 110, 0.4),
        0 2px 8px rgba(0, 0, 0, 0.6);

    margin-bottom: 1rem;
}

.date{
    font-size:1.4rem;
    color:var(--sage-dark);
    margin-top:10px;
}

.section{
    padding:40px 20px;
}

.container{
    max-width:1000px;
    margin:auto;
}

.card{
    background:white;
    border-radius:20px;
    padding:40px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

h2{
    font-family:'Cormorant Garamond',serif;
    font-size:2.5rem;
    color:var(--burnt-orange);
    margin-bottom:20px;
    text-align:center;
}

#ourmoments-txt {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    color: var(--sage-dark);
}

.details{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
    margin-top:30px;
}

.detail-box{
    background:#f8f8f8;
    padding:25px;
    border-left:5px solid var(--sage);
    border-radius:12px;
}

.detail-box h3{
    color:var(--sage-dark);
    margin-bottom:10px;
}

